@model YAZLAB2.Models.Kategori

<h3>Yeni Kategori Ekle</h3>
<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="KategoriAdi">Kategori Adı</label>
        <input type="text" class="form-control" id="KategoriAdi" name="KategoriAdi" placeholder="Kategori Adı" required>
    </div>
   
    <button type="submit" class="btn btn-success">Kategori Ekle</button>
</form>