@model UserLoginModel
<form asp-action="Login" method="post">
    <input asp-for="Username" placeholder="Kullanıcı Adı" />
    <input asp-for="Şifre" type="Şifre" placeholder="Şifre" />
    <button type="submit">Giriş Yap</button>
</form>