@model IEnumerable<YAZLAB2.Models.Etkinlik> // Oneri listesi modelini kullanıyoruz

@{
    ViewData["Title"] = "User Hub Area";
}

<div class="container">
    <div>
        <a href="/Etkinlik/Index" class="btn btn-success">Etkinlik Git</a>
        <a href="/User/Profile" class="btn btn-success">Profil Git</a>
    </div>

    <h1>Hoşgeldin, @User.Identity.Name</h1>

    @if (TempData["Message"] != null)
    {
        <div class="alert alert-info">@TempData["Message"]</div>
    }

    <h2>Önerilen Etkinlikler</h2>
    @if (Model == null || !Model.Any())
    {
        <p>Hiç etkinlik önerisi bulunamadı.</p>
    }
    else
    {
        <ul>
            @foreach (var oneri in Model)
            {
                <li>
                    <a href="@Url.Action("Details", "Etkinlik", new { id = oneri.EtkinlikId })">
                        @oneri.EtkinlikAdi
                    </a>
                </li>
            }
        </ul>
    }
</div>
