@model User

@{
    ViewData["Title"] = "User Hub Area";
}

<div class="container">
    <div>
        <a href="/Etkinlik/Create" class="btn btn-success">Etkinlik Git</a>
    </div>
    <h1>Hoşgeldin, @Model.Ad @Model.Soyad</h1>

</div>
