@model User

@{
    ViewData["Title"] = "User Hub Area";
}

<div class="container">
    <div>
        <a href="/Etkinlik/Index" class="btn btn-success">Etkinlik Git</a>
        <a href="/User/Profile" class="btn btn-success">profil Git</a>
        <a href="/User/GetEvents" class="btn btn-success">profil Git</a>



    </div>
    <h1>Hoşgeldin, @Model.Ad @Model.Soyad</h1>

</div>
